
/* selector de tipos de etiquetas */
h3{
    color: blueviolet;
}
p{
    color: rgb(255, 196, 0);
}
h2{
    color: black;
    background-color: rgb(212, 170, 212);
}
h1{
    color: blue;
    background-color:rgb(212, 170, 212);
    font-size: 15px;
    font-weight: 500;
}
a{
    background-color: burlywood;
}
/* //selector de clase */
.primer-color{
    color: cadetblue;
    background-color: beige;
}
.segundo-color{
    color: blueviolet;
    background-color: aqua;
}
#listas{
    color: brown;
}
#listas-2{
    color: brown;
}
#lista-1{
    color: tomato;
    background-color: rgb(145, 236, 236);
}
#lista-2{
    color: tomato;
    background-color: rgb(147, 243, 243);
}